.navbar{
    width: 100%;
    height:151px;
    background: #A9DBF6;
    display: flex;
    justify-content: space-between;
    
}
.logo{
    font-size: 96px;
    font-family: 'Caveat';
    padding-left: 5%;
    cursor: default;
}
.logger{
    align-self: center;
    padding-right: 2%;
    display: flex;
    /* cursor: pointer; */
    
}
.logger-1{
    display: flex;
    cursor: pointer;
    margin-right: 20px;
}
.loginButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart{
    >img{
        width: 48px;
        height: 48px;
    }
    cursor: pointer;
}